   :root{
     --background: url('https://images.alphacoders.com/632/632525.png');
     --activetext-colour: white;
 
     --primary1-colour: red;
     --primary2-colour: rgba(255,0,0,0.5);
     --primary3-colour: rgba(100,0,0,0.6);
 
     --secondary1-colour: rgba(50,50,50,0.3);
     --secondary2-colour: rgba(100,100,100,0.5);
     --secondary3-colour: rgba(0,0,0,0.5);
 
     --transparency-1: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
     --transparency-2: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
     --transparency-3: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
     --transparency-4: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
     --transparency-5: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
 }
   
 /*
 Theme Owned and Made by VaporousCreeper#9514
   
 Background Img: https://wpblink.com/sites/default/files/wallpaper/anime/66761/sword-art-online-ii-wallpapers-hd-66761-327252.png 
 Transparency2 Module: https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css - By Ruben7173#5048
 
 The 2 items above are not owned by me, They go to there respected owners 
 */
 
/*--------------------------------------------------------*/
#app-mount {
    background: var(--background-image);
}

/* removing backgrounds */

/* Guild and Top bar transparency */
.theme-dark .wrapper-1_HaEi {
    background:transparent;
    background-image: var(--transparency-1);
}

/* transparency for channels and members list and private channels and left side of settings*/
#app-mount .container-1NXEtd, .privateChannels-oVe7HL, .app-3xd6d0 .standardSidebarView-E9Pc3j, .app-3xd6d0 .container-2cd8Mz {
    background: transparent;
    background-image: var(--transparency-2);
}
.theme-dark .panels-3wFtMD, .theme-light .panels-3wFtMD {
    background: var(--transparency-2);
}
/* chat and top area and other secondary pages */
.app-3xd6d0 .chat-2ZfjoI, .app-3xd6d0 .scrollableContainer-15eg7h {
    background: transparent;
    background-image: var(--transparency-3);
}
/* removing color from specific class */
.panels-3wFtMD {
    background-color: transparent;
}
/* extra for transparency 3 special case */
.themeDark-3Ap_7i, .app-3xd6d0 .chat-3bRxxu {
    background-color: transparent;
    background-image: var(--transparency-3);
}
.typeWindows-2-g3UY {
    background-image: var(--transparency-5);
}
/* removes margin from top area and adds it to the nav buttons + discord logo */
.typeWindows-2-g3UY {
    height: 21px;
    margin-top: 0px;
}
/* removes a border under better discord at channels */
.unread-1xRYoj {
    display:none;
}
/* fixes */
.theme-dark {
    --background-primary: none;
    --background-secondary: none;
    --background-tertiary: none;
    --background-accent: none;
} 
/*--------------------------------------------------------*/

/*Background Img*/
    #app-mount {
        background-image: var(--background); 
        background-position: center; 
        background-size: cover; 
    }

/*Home and Discover*/
    /*Nitro*/
        #app-mount .applicationStore-2nk7Lo {background-color: var(--secondary3-colour);}
        #app-mount .feature-2IUcBI {background-color: var(--secondary1-colour);}

        #app-mount .applicationStore-2nk7Lo .trialOfferWrapper-2Y24ok .button-f2h6uQ,
        #app-mount .activitiesBannerContainer-aAnWk6 .button-f2h6uQ {
            background-color: white;
        } 

    /*Sidebar: Direct Messages*/
        #app-mount .channel-1Shao0,
        #app-mount .sidebar-1tnWFu .categoryItem-Kc_HK_ { 
            margin-bottom: 2px; 
            transition: background-color 0.2s; 
            transition-timing-function: ease-in-out
        }
        #app-mount .channel-1Shao0:hover, 
        #app-mount .interactive-1vLZ_I.interactiveSelected-29CP8y,
        #app-mount .sidebar-1tnWFu .categoryItem-Kc_HK_:hover,
        #app-mount .sidebar-1tnWFu .categoryItem-Kc_HK_.selected-1-Z6gm {
            background-color: var(--secondary2-colour);
        }

        #app-mount .privateChannelsHeaderContainer-1UWASm {
            background-color: var(--primary3-colour);
            padding: 12px;
            border-radius: 10px;
        }

    /*Discover Servers*/
        #app-mount .sidebar-1tnWFu div[dir="ltr"] {background-image: var(--transparency-2);}
        #app-mount .sidebar-1tnWFu .itemInner-3e_4G4 {margin: 0!important;}

        #app-mount .pageWrapper-2PwDoS,
        #app-mount .content-1SgpWY .scroller-RfJjkV {
            background-color: transparent; 
            background-image: var(--transparency-1);
        }

        #app-mount .pageWrapper-2PwDoS .card-2TuZPZ,
        #app-mount .content-1SgpWY .container-1wv6C6 {
            background-color: var(--secondary3-colour);
        }
        #app-mount .pageWrapper-2PwDoS .card-2TuZPZ:hover {background-color: var(--secondary2-colour);}

        #app-mount .pageWrapper-2PwDoS .searchBoxInput-3h4etz {background-color: transparent;}

    /*Now Active*/
        #app-mount .nowPlayingColumn-1eCBCN .itemCard-3Etziu {background-color: var(--secondary3-colour);}
        #app-mount .nowPlayingColumn-1eCBCN .itemCard-3Etziu:hover {background-color: var(--secondary2-colour);}

/*In Servers*/
    #app-mount .listItem-3SmSlK .numberBadge-37OJ3S {
        background-color: var(--primary1-colour)!important;
    }

    /*Icon Servers*/
        #app-mount .wrapper-3kah-n {background-color: var(--secondary1-colour);}
        #app-mount .wrapper-3kah-n:hover {background-color: var(--primary3-colour);}
    /*Letter Servers*/
        #app-mount .childWrapper-1j_1ub ,#app-mount .circleIconButton-1VxDrg {background-color: var(--secondary1-colour);}
        #app-mount .childWrapper-1j_1ub:hover ,#app-mount .circleIconButton-1VxDrg:hover {background-color: var(--primary3-colour);}

    /*Server Folders*/
        #app-mount .expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi) {background-color: var(--secondary3-colour);}
        
    /*Server Boosting*/
        #app-mount .perksModal-CLcR1c {background: var(--transparency-1);}
        #app-mount .closeWrapper-1aVqeP .closeButton-PCZcma{margin-top: 40px;}

        #app-mount .content-2jtGoN {
            margin: 0;
            padding: 32px 302px 32px 302px;
            background-image: var(--transparency-1);
        }

        #app-mount .persistentCtaSpacer-3NEYUw {max-height: 0px;}
        #app-mount .lowerBodyContentWrapper-3uemai {padding-bottom: 150px;}

        #app-mount .topPerksCard-1OyFW_,
        #app-mount .lowerBodyContentWrapper-3uemai .wrapper-90V9J2 {
            background-color: var(--secondary3-colour);
        }


    /*Channels*/
        #app-mount .containerDefault-3TQ5YN {
            background-color: var(--primary3-colour); 
            height: 30px; text-align: center; 
            border-radius: 10px; 
            padding: 5px 5px 0 5px;
        }
        #app-mount .activityPanel-9icbyU {
            background-image: var(--transparency-1); 
            background-color: rgba(0,0,0,0); 
            margin-bottom: 0;
        }

        #app-mount .containerDefault-3TQ5YN {margin-top: 15px;}
        #app-mount .containerDefault-YUSmu3 {margin-right: 10px;}

        #app-mount .mention-3XBnnZ,
        #app-mount .mentionsBadge-3H1BKJ .numberBadge-37OJ3S {
            background-color: var(--primary1-colour)!important;
        }

        #app-mount .unreadBar-elBRZx {background-color: var(--secondary2-colour);}

        #app-mount .autocomplete-3NRXG8 {background-color: var(--secondary3-colour);}

        /*Text Channels*/
            #app-mount .containerDefault-YUSmu3 .content-1gYQeQ:hover {width: 100%;}
            #app-mount .containerDefault-YUSmu3.selected-2TbFuo .content-1gYQeQ {width: 100%;}
            #app-mount .content-1gYQeQ { background-color: var(--secondary1-colour) }
            #app-mount .content-1gYQeQ:hover,
            #app-mount .containerDefault-YUSmu3.selected-2TbFuo  .content-1gYQeQ { background-color: var(--secondary2-colour)}
            #app-mount .containerDefault-YUSmu3 .content-1gYQeQ{
                width: 190px; 
                transition: width 0.2s; 
                transition-timing-function: ease-in-out; 
            }

            #app-mount .containerDefault-YUSmu3 .modeMuted-2T4MDZ div.content-1gYQeQ {background-color: var(--primary3-colour);}
            
            #app-mount .actionBar-1ozugS {
                background-color: var(--secondary3-colour); 
                border-radius: 5px;
            }

        /*Voice Channels*/
            #app-mount .containerDefault-YUSmu3 .modeConnected-NrO4cP div.content-1gYQeQ {width: 100%; background-color: var(--secondary2-colour);}
            #app-mount .containerDefault-YUSmu3 .modeLocked-3sToxd div.content-1gYQeQ {background-color: var(--primary3-colour);}

            /*VC Info*/
                #app-mount .container-1zzFcN,
                #app-mount .container-YkUktl {
                    background-color: var(--secondary3-colour);
                }

                #app-mount .panels-3wFtMD .flex-2S1XBF .button-12Fmur,
                #app-mount .panels-3wFtMD .actionButtons-2vEOUh,
                #app-mount .panels-3wFtMD .container-YkUktl .flex-2S1XBF {
                    background-color: var(--secondary1-colour);
                    border-radius: 3px;
                }

                #app-mount .panels-3wFtMD .button-f2h6uQ:hover, 
                #app-mount .panels-3wFtMD .avatarWrapper-1B9FTW:hover {
                    background-color: var(--secondary2-colour);
                }
            
                #app-mount .button-12Fmur[aria-label="Disconnect"] {background-color: var(--primary3-colour)!important;}
                #app-mount .button-12Fmur[aria-label="Disconnect"]:hover {background-color: var(--primary2-colour)!important;}

            /*VC User*/
                #app-mount .list-2x9Cl9 { padding-left: 10px; }
                #app-mount .avatarSpeaking-2pCGrZ {box-shadow:0 0 0 2px var(--primary1-colour);}

                #app-mount .voiceUser-3nRK-K .content-1Tgc42:hover {background-color: transparent;}
                #app-mount .voiceUser-3nRK-K {
                    transition: margin 0.2s; 
                    transition-timing-function: ease-in-out; 
                    margin-left: 0; 
                    padding-right: 5px
                }
                #app-mount .voiceUser-3nRK-K:hover {
                    background-color: var(--secondary1-colour); 
                    border-radius: 2px; margin-left: 20px;
                }

            /*Live Feed*/
                #app-mount .root-22AK9z, 
                #app-mount .callContainer-HtHELf {
                    background: var(--transparency-1);
                }

                #app-mount .wrapper-3t3Yqv .controlButton-2PMNom[aria-label="Share Your Screen"],
                #app-mount .wrapper-3t3Yqv .controlButton-2PMNom[aria-label="Disconnect"] {
                    background-color: var(--primary2-colour);
                }
                #app-mount .wrapper-3t3Yqv .controlButton-2PMNom .staticButton-1oD4l7,
                #app-mount .buttonContainer-1sjtPU .controlButton-2PMNom {
                    background-color: var(--secondary2-colour);
                }

    /*Messages*/
        #app-mount code {background-color: var(--secondary1-colour)}

        #app-mount .mention,
        #app-mount .channelMention .name-32H74l {
            background-color: var(--primary3-colour); 
            color: var(--primary1-colour);
        }
        #app-mount .mentioned-Tre-dv {background-color: var(--primary3-colour);}
        #app-mount .mentioned-Tre-dv .contents-2mQqc9, 
        #app-mount .mentioned-Tre-dv .container-1ov-mD,
        #app-mount .channelMention {
            background-color: var(--primary3-colour);
        }
        #app-mount .mentioned-Tre-dv:before {
            background: var(--primary1-colour); 
            width: 3px;
        }

        #app-mount .channelMention .channelWithIcon path {fill: var(--primary1-colour)}

        #app-mount a[target="_blank"] {color: var(--primary1-colour);}

        #app-mount .newMessagesBar-1hF-9G {background-color: var(--primary1-colour)} 
        #app-mount .newMessagesBar-1hF-9G:hover {background-color: var(--primary2-colour);}
        #app-mount .jumpToPresentBar-1cEnH0 {background-color: var(--secondary3-colour);}
        #app-mount .jumpToPresentBar-1cEnH0:hover {background-color: var(--secondary2-colour);}

        #app-mount .message-2CShn3 {padding: 0px 48px 0px 72px;}
        #app-mount .message-2CShn3.cozyMessage-1DWF9U .container-2sjPya,
        #app-mount .message-2CShn3.cozyMessage-1DWF9U .contents-2MsGLg {
            background-color: var(--secondary1-colour);
            padding: 5px 0px 5px 20px;
        }

        #app-mount .message-2CShn3.compact-2Nkcau {padding-left: 0;}
        #app-mount .message-2CShn3.compact-2Nkcau .contents-2MsGLg {
            background-color: var(--secondary1-colour);
            padding: 5px 0px 5px 80px;
            text-indent: 0;
        }
        #app-mount .message-2CShn3.compact-2Nkcau .container-2sjPya {
            background-color: var(--secondary1-colour);
            padding: 5px 0px 5px 52px;
        }

        #app-mount .buttonContainer-1502pf .wrapper-2vIMkT {
            background-color: var(--secondary1-colour);
            margin: 2px 20px 0px 0px;
        }
        #app-mount .hasReply-2Cr4KE .buttonContainer-1502pf .wrapper-2vIMkT{ margin-top: 24px; }

        /*Embeds*/
            #app-mount .embedFull-1HGV2S {
                background-color: var(--secondary1-colour); 
                border-left: 4px solid;
                border-right: 4px solid;
                border-radius: 10px!important;
            }

        /*Media Player*/
            #app-mount .unreadBar-3YD_k9 {background-color: var(--primary1-colour);}

            #app-mount .messageAttachment-CZp8Iv a[target="_blank"] {color: var(--primary2-colour);}
            #app-mount .mediaBarProgress-38I317,
            #app-mount .mediaBarProgress-38I317::before, 
            #app-mount .mediaBarProgress-38I317::after, 
            #app-mount .mediaBarProgress-38I317 .mediaBarGrabber-FvJKJg{
                background-color: var(--primary1-colour);
            }

        /*Discussions*/
            #app-mount .chat-2ZfjoI .mainCard-3KBsBI.header-1Uy0p6 {
                background-color: var(--secondary3-colour);
                border-radius: 10px 10px 0 0;
            }
            #app-mount .chat-2ZfjoI .headerRow-1MKoR- div[style*="max-height: 500px;"] {background-color: var(--secondary3-colour);}
            #app-mount .chat-2ZfjoI .tagsContainer-2bBw1x {
                background-color: var(--secondary3-colour);
                border-radius: 0 0 10px 10px;
                padding: 24px 0 15px 20px;
            }
            #app-mount .chat-2ZfjoI .matchingPostsRow-2IiEQ1 {
                background-color: var(--secondary2-colour);
                border-radius: 0;
            }

            #app-mount .title-31SJ6t,
            #app-mount .chat-2ZfjoI .container-3wLKDe {
                background-color: transparent;
            }

            #app-mount .container-3XgAHv {
                background-image: var(--transparency-3);
            }

            #app-mount .chat-2ZfjoI .mainCard-3KBsBI:hover,
            #app-mount .chat-2ZfjoI .mainCard-3KBsBI.isOpen-2OXbFs,
            #app-mount .chat-2ZfjoI .mainCard-3KBsBI.headerWithMatchingPosts-1lTrVT {
                background-color: var(--secondary2-colour);
            }

        /*Reactions*/
            #app-mount .reactions-3ryImn .reactionMe-1PwQAc {
                background-color: var(--primary3-colour);
                border-color: var(--primary1-colour);
            }

/*Server Members*/
    #app-mount .member-2gU6Ar .layout-1qmrhw {
        margin-left: 30px;
        transition: margin-left 0.2s;
        transition-timing-function: ease-in-out;
        border-radius: 10px;
    }
    #app-mount .layout-1qmrhw:hover { margin-left: 8px; background-color: var(--secondary1-colour);}
    #app-mount .selected-1-Z6gm .layout-1qmrhw { margin-left: 8px; background-color: var(--secondary2-colour);}

    #app-mount .membersGroup-2eiWxl span {color: var(--activetext-colour);}
    #app-mount .membersGroup-2eiWxl {
        background-color: var(--primary3-colour);

        border: 2px solid var(--primary3-colour);
        border-radius: 8px;

        height: 20px;
        padding: 0 0 0 10px;
        margin: 15px 8px 0 16px;
    }


/*ScrollBars*/
    #app-mount ::-webkit-scrollbar-thumb {background-color: var(--primary2-colour); border-color: transparent;}

    #app-mount .messagesWrapper-RpOMA3 ::-webkit-scrollbar-track-piece, 
    #app-mount .peopleColumn-1wMU14 ::-webkit-scrollbar-track-piece, 
    #app-mount .homeWrapperNormal-bu1BS6 ::-webkit-scrollbar-track-piece,
    #app-mount .container-3wLKDe ::-webkit-scrollbar-track-piece,
    #app-mount .enterDone-menWZ8 ::-webkit-scrollbar-track-piece {
        background-color: transparent; 
        border-color: transparent;
    }
    #app-mount .messagesWrapper-RpOMA3 ::-webkit-scrollbar-track, 
    #app-mount .peopleColumn-1wMU14 ::-webkit-scrollbar-track, 
    #app-mount .homeWrapperNormal-bu1BS6 ::-webkit-scrollbar-track,
    #app-mount .container-3wLKDe ::-webkit-scrollbar-track,
    #app-mount .enterDone-menWZ8 ::-webkit-scrollbar-track {
        background-color: var(--primary3-colour); 
        border-radius: 10px; 
        border-color: var(--primary3-colour)
    }

/*Settings*/
    #app-mount .sidebarRegion-1VBisG .side-1lrxIh .item-2GWPIy {
        line-height:15px; 
        background-color: var(--secondary1-colour); 
        width: 100%; 
        transition: width 0.2s; 
        transition-timing-function: ease-in-out;
    }
    #app-mount .sidebarRegion-1VBisG .side-1lrxIh .item-2GWPIy:hover {
        background-color: var(--secondary2-colour); 
        width:187px;
    }
    #app-mount .sidebarRegion-1VBisG .side-1lrxIh .selected-1sf9UK {
        line-height:15px; 
        background-color: var(--secondary2-colour)!important; 
        width:187px;
    }

    #app-mount .bd-sidebar-header {
        background-color: var(--primary3-colour); 
        border-radius: 3px; 
        padding:1px 10px 1px 0px
    }
    #app-mount .sidebar-nqHbhN .side-1lrxIh .header-2F5_LB {
        background-color: var(--primary3-colour); 
        border-radius: 3px; 
        line-height:28px; 
        padding:5px 0 5px 10px
    }

    #app-mount .sidebar-nqHbhN {
        padding: 20px 18px 20px 23px;
        width: 210px;
        margin-right: 20px;
    }

    #app-mount .contentRegion-3HkfJJ .item-2GWPIy:not(.tabBarItem-3nPo4Z) {
        transition: background-color 0.2s; 
        transition-timing-function: ease-in-out; 
    }
    #app-mount .contentRegion-3HkfJJ .item-2GWPIy:hover:not(.tabBarItem-3nPo4Z)  {
        background-color: var(--secondary2-colour);
    }
    #app-mount .contentRegion-3HkfJJ .item-2GWPIy.selected-1sf9UK:not(.tabBarItem-3nPo4Z) {
        background-color: var(--primary3-colour);
    }

    
    #app-mount .lookFilled-1H2Jvj:not(.shinyButton-2Q9MDB, .collapseBtn-3-5Cu0, .buttonColor-3bP3fX), 
    #app-mount .bd-button,
    #app-mount .barFill-3RgCsY,
    #app-mount .container-1QtPKm.checked-16gMAN {
        background-color: var(--primary1-colour)!important;
    }
    #app-mount .container-1QtPKm.checked-16gMAN svg path {fill: var(--primary1-colour)}

    
    #app-mount .select-Zz0IcO {
        background-color: var(--secondary3-colour);
        border-color: var(--secondary3-colour);
    }
    #app-mount .option-Uc12mm {background-color: var(--secondary3-colour)}
    #app-mount .option-Uc12mm .selectedIcon-122rMx path {fill: var(--primary1-colour);}
    #app-mount .option-Uc12mm:hover,
    #app-mount .option-Uc12mm[aria-selected="true"] {
        background-color: var(--primary3-colour);
    }

    #app-mount .inputDefault-Ciwd-S {background-color: var(--secondary3-colour); border: 1px solid transparent;}
    #app-mount .inputDefault-Ciwd-S:focus {border-color: var(--primary1-colour);}
    
    #app-mount .card-2guEcY {
        border-color: var(--secondary3-colour);
        background-color: var(--secondary1-colour);
    }

    #app-mount .anchor-1X4H4q {color: var(--primary1-colour);}
    
    #app-mount .card-2ART2V,
    #app-mount .emojiTable-17v9Y6 {
        padding-left: 15px;
        padding-right: 15px;
    }
    #app-mount .card-2ART2V:hover {
        background-color: var(--secondary1-colour);
        border-radius: 3px;
    }

    /*User Settings*/
        #app-mount .accountProfileCard-lbN7n- {background-color: var(--secondary1-colour);}       
        
        #app-mount .tabBar-11FwuO .tabBarItem-MeqDhW.selected-1sf9UK,
        #app-mount .tabBar-11FwuO .tabBarItem-MeqDhW:hover {
            border-color: var(--primary1-colour)
        }
        
        #app-mount .connectContainer-1hylYM,
        #app-mount .connection-YOVI9j {
            border-color: var(--secondary3-colour);
            background-color: var(--secondary1-colour);
        }
        #app-mount .connection-YOVI9j .connectionHeader-Ixbb1s {background-color:var(--secondary3-colour) ;}

        #app-mount .perksContainer-1hGJpM .bigPerkCard-1uwmWV,
        #app-mount .perksContainer-1hGJpM .smallPerkCard-2sX_-- {
            background-color: var(--secondary1-colour);
        }

        #app-mount .checkbox-1LuCGM.checked-22NTbO {
            background-color: var(--primary1-colour)!important; 
            border-color: var(--primary1-colour)!important
        }

        #app-mount .notificationSettings-3dppO6 .wrapper-SdcMKg {border-color: var(--primary1-colour);}
        #app-mount .notificationSettings-3dppO6 .selected-18Wszc.option-1QI4c9 {background-color: var(--primary1-colour);}
        #app-mount .notificationSettings-3dppO6 .option-1QI4c9:hover {background-color: var(--primary2-colour)!important;}
        
        #app-mount .bd-switch-checked .bd-switch-body {background-color: var(--primary1-colour)}
        #app-mount .bd-switch-checked .bd-switch-body svg path {fill: var(--primary1-colour)}

        #app-mount .bd-select {
            background-color: var(--secondary3-colour);
            border-color: var(--secondary3-colour);
        }
        #app-mount .bd-select .bd-select-options {background-color: var(--secondary3-colour)}
        #app-mount .bd-select .bd-select-option:hover {background-color: var(--secondary3-colour);}
        #app-mount .bd-select .bd-select-option.selected {background-color: var(--primary3-colour);}


        #app-mount .bd-addon-list .bd-addon-header {
            background-color: var(--secondary3-colour);
        }
        #app-mount .bd-addon-list .bd-addon-card {
            border-color: var(--secondary3-colour);
            background-color: var(--secondary1-colour);
        }

    /*Server Settings*/
        #app-mount .header-JUTO-g {background-color: var(--secondary3-colour);}

        #app-mount .tabBar-3DfKkN .tabBarItem-3nPo4Z.selected-1sf9UK,
        #app-mount .tabBar-3DfKkN .tabBarItem-3nPo4Z:hover {
            border-color: var(--primary1-colour)
        }

        #app-mount .row-1lgfJq:hover {
            background-color: var(--secondary1-colour);
            border-radius: 3px;
        }

        #app-mount .copyInputDefault-3jiMHw {background-color: var(--secondary3-colour);}
        #app-mount .contentExpandContainer-2yDz-1 .container-AxP_J8,
        #app-mount .contentExpandContainer-2yDz-1 .groupCollapsedContainer-2z4Vrr {
            background-color: transparent;
        }
        #app-mount .contentExpandContainer-2yDz-1 {
            border: 1px solid var(--secondary3-colour);
            background-color: var(--secondary1-colour);
            border-radius: 3px;
        }

        #app-mount .setupContainer-38rQDO .container-AxP_J8 {background-color: var(--secondary1-colour);}

        #app-mount .editCard-K9Q9mb .triggerMainContainer-274ue5 {
            border-color: var(--secondary3-colour);
            background-color: var(--secondary1-colour);
        }

        #app-mount .editCard-K9Q9mb .iconWrapper-2_MXbk {background-color: var(--secondary2-colour);}

        #app-mount .editCard-K9Q9mb .mentionLimitContainer-zBzr5i,
        #app-mount .editCard-K9Q9mb .keywordListContainer-9ux8nU,
        #app-mount .editCard-K9Q9mb .keywordsContainer-2Q8Bnt .keywordsTextArea-3QkFoG,
        #app-mount .editCard-K9Q9mb .collapseable-1FiLab,
        #app-mount .editCard-K9Q9mb .actionContainer-2krsiT {
            background-color: var(--secondary3-colour);
        }
        
        #app-mount .editCard-K9Q9mb .input-2FSSDe,
        #app-mount .editCard-K9Q9mb .resultsListParent-39cvai {
            background-color: var(--secondary3-colour);
            border-radius: 8px;
        }
        #app-mount .editCard-K9Q9mb .resultsList-2Bp-2_::-webkit-scrollbar-track {background-color: transparent;}

        #app-mount .container-2J1IM0 .creatorBenefitCard-174D7Q,
        #app-mount .container-2J1IM0 .howItWorksContainer-3ZDRIG,
        #app-mount .root-22SjyR .card-ErWTld {
            background-color: var(--secondary3-colour);
        }

        #app-mount .tier-3CS7-p .tierHeader-3q9jIw {background-color: var(--secondary3-colour);}
        #app-mount .tier-3CS7-p .tierBody-1d3UiS {background-color: var(--secondary1-colour);}
        
        #app-mount .directoryModal-YJsOMv .content-3C5Io5 {
            max-width: 76%;
            margin: 0;
            padding: 32px 15% 64px 15%;
            background-image: var(--transparency-1);
        }
        #app-mount .directoryModal-YJsOMv {
            background-image: var(--background); 
            background-position: center; 
            background-size: cover; 
            padding: 0 0 0 0!important;
            width: 100%;
        }
        #app-mount .directoryModal-YJsOMv div[aria-hidden="true"] {height: 0px!important;}

        #app-mount .group-LWHoGI {background-color: var(--secondary1-colour);}
        #app-mount .group-LWHoGI .item-4m-12I:hover {background-color: var(--secondary2-colour);}

        #app-mount .settingCard-xZSDjS {background-color: var(--secondary1-colour);}

/*ChangeLog And Other Popups*/
    #app-mount .modal-3Hrb0S,
    #app-mount .browser-mnQ1T7,
    #app-mount .menu-2TXYjN,
    #app-mount .messagesPopoutWrap-3zryHW {
        background-color: var(--secondary3-colour); 
        border-radius: 10px;
    }

    #app-mount .tooltipPointer-sMBQqe {border-top-color: var(--secondary3-colour);}

    #app-mount .root-1CAIjD,
    #app-mount .tooltipContent-38tm3I,
    #app-mount .tooltip-33Jwqe,
    #app-mount .container-2kTWmC,
    #app-mount .sectionTag-28mLyE {
        background-color: var(--secondary3-colour);
        border-radius: 10px;
        border-color: transparent;
    }

    #app-mount .root-1CAIjD {
        box-shadow: none;
    }

    #app-mount .header-1ffhsl {
        background-color: var(--primary3-colour);
        border-radius: 10px 10px 0 0;
    }

    #app-mount .content-1OG56Q {padding-top: 20px;}

    #app-mount .footer-IubaaS {
        background-color: var(--secondary2-colour);
        border-radius: 0 0 10px 10px;
    }

    #app-mount .input-3r5zZY,
    #app-mount .bgScale-1iWuPF,
    #app-mount .item-5ApiZt.focused-3LIdPu:not(.colorDanger-3umuSx),
    #app-mount .messageGroupWrapper-1jf_7C:hover {
        background-color: var(--secondary2-colour);
    }

    #app-mount .focusLock-bHVOlV ::-webkit-scrollbar {
        display: none;
    }

    #app-mount .messageGroupWrapper-1jf_7C:hover .jumpButton-1ZwI_j {
        background-color: var(--secondary3-colour);
    }

    /*Inbox popup*/
        #app-mount .header-3i_Csh,
        #app-mount .channelHeader-DFRX8q {
            background-color: var(--secondary2-colour);
        }

        #app-mount .container-iA3Qrz:hover,
        #app-mount .messages-23can0:hover {
            background-color: var(--secondary1-colour);
        }

        #app-mount .recentMentionsPopout-2bI1ZN,
        #app-mount .recentMentionsPopout-2bI1ZN .container-iA3Qrz:hover .jumpButton-1V_1FA,
        #app-mount .recentMentionsPopout-2bI1ZN .messages-23can0 .jumpButton-1V_1FA {
            background-color: var(--secondary3-colour);
        }

        #app-mount .container-iA3Qrz,
        #app-mount .messages-23can0 {
            border-radius: 10px;
            padding-right: 0;
        }

        #app-mount .channelHeader-DFRX8q {border-radius: 10px 10px 0 0;}
        #app-mount .channelHeader-DFRX8q .badge-1ImhlC {background-color: var(--primary1-colour);}
        #app-mount .recentMentionsPopout-2bI1ZN .scroller-145h9c {
            padding: 0!important;
        }

/*User Popup*/
    #app-mount .userProfileOuterUnthemed-11rPfA .userPopoutInner-nv9Y92,
    #app-mount .userProfileOuterUnthemed-11rPfA,
    #app-mount .userPanelInner-3KPel3 {
        background: transparent;
        background-color: var(--secondary3-colour)!important;
    }
    
    #app-mount .userProfileOuterUnthemed-11rPfA .userPopoutOverlayBackground-3A0Pcz,
    #app-mount .userPanelInner-3KPel3 .userPanelOverlayBackground-3Zmcq2{
        background-color: var(--secondary1-colour)!important;
    }

    #app-mount .userProfileOuterUnthemed-11rPfA .role-2TIOKu {
        background-color: var(--secondary2-colour);
    }

/*Search Popup*/
    #app-mount .container-2McqkF,
    #app-mount .container-2McqkF ul {
        background-color: var(--secondary3-colour);
    }

    #app-mount .searchFilter-2UfsDk,
    #app-mount .searchAnswer-23w-CH {
        background-color: var(--secondary2-colour);
    }

    #app-mount .queryContainer-ZunrLZ {
        background-color: var(--secondary2-colour);
    }

    #app-mount .react-datepicker__day {background-color: var(--secondary1-colour);}
    #app-mount .react-datepicker__day:hover {background-color: var(--secondary2-colour);}

    #app-mount .react-datepicker__day--today::after {background-color: var(--primary1-colour);}

    #app-mount .react-datepicker__day--disabled,
    #app-mount .react-datepicker__day--outside-month {
        background-color: var(--secondary3-colour);
    }

    #app-mount .react-datepicker,
    #app-mount .react-datepicker__header {
        background-color: transparent;
    }

    #app-mount .container-2McqkF .hintValue-V9hd8l {background-color: var(--primary1-colour);}

/*Join & Create Server Popup*/
    #app-mount .container-1Lk8p7 .header-1ffhsl {padding-bottom: 24px;}
    #app-mount .container-1Lk8p7 .header-1ffhsl .heading-xl-semibold-3E1dYv,
    #app-mount .container-1Lk8p7 .header-1ffhsl .text-md-normal-2rFCH3,
    #app-mount .container-1Lk8p7 .footer-IubaaS .footerTitle-3Bslxi,
    #app-mount .container-1Lk8p7 .footer-IubaaS .contents-3NembX,
    #app-mount .container-1Lk8p7 .container-x8Y1ix .text-md-bold-1mgErV,
    #app-mount .container-1Lk8p7 .rowContainer-3t7486 .rowText-3MQqQi {
        color: var(--activetext-colour)!important;
    }

    #app-mount .container-1Lk8p7 .footer-IubaaS {
        background-color: var(--secondary2-colour); 
        box-shadow: none;
    }

    #app-mount .container-1Lk8p7 .container-x8Y1ix,
    #app-mount .container-1Lk8p7 .rowContainer-3t7486 {
        background-color: var(--secondary1-colour);
    }
    #app-mount .container-1Lk8p7 .container-x8Y1ix:hover,
    #app-mount .container-1Lk8p7 .rowContainer-3t7486:hover {
        background-color: var(--secondary2-colour);
    }

    #app-mount .container-1Lk8p7 .input-3O04eu,
    #app-mount .container-1Lk8p7 .input-m1-Y7Q {
        background-color: var(--secondary1-colour);
    }

    #app-mount .container-1Lk8p7 .iconContainer-GFfNaA circle {fill: var(--primary1-colour)}

    #app-mount .container-1Lk8p7 .content-1OG56Q {margin-top: 24px;}

/*Emoji, Gif and SoundBoard Picker Popup*/
    #app-mount .contentWrapper-3vHNP2,
    #app-mount .picker-20lcBA {
        background-color: var(--secondary3-colour); 
    }
    #app-mount .contentWrapper-3vHNP2 .inspector-DFKXwB,
    #app-mount .soundButton-2P2Ua2:hover {
        background-color: var(--secondary2-colour);
    }

    #app-mount .contentWrapper-3vHNP2 .categoryFadeBlurple-1l49_Q {background-color: var(--primary3-colour);}

    #app-mount .contentWrapper-3vHNP2 .result-pzZrwj:hover:after {box-shadow: 0 0 2px 2px var(--primary1-colour);}

    #app-mount .contentWrapper-3vHNP2 .result-pzZrwj[style*="background-color: var(--premium-tier-1"] {background-color: var(--primary3-colour)!important;}

/*TopBar*/
    #app-mount .typeWindows-2-g3UY {
        background-color: var(--secondary3-colour); 
        border-bottom: 2px solid var(--primary3-colour); 
        height: 30px;
        margin: 0px;
    }
    #app-mount .typeWindows-2-g3UY:after {
        content: "GGO Kirito v1.3.2 By VaporousCreeper";
        color: rgb(255,255,255,0.5);
        font-weight: 500;

        position: absolute;
        top: 8px;
        left: 43.2%;
    }

    #app-mount .wordmark-2u86JB {top: 3.3px;}
    #app-mount .winButton-3UMjdg {top: 1px;}
