//META{"name":"GGO Kirito","description":"A theme with Kirito and Deathgun fighting in GGO","author":"VaporousCreeper","version":"1.0.2"}*//
@import url('https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css');
@import url('https://raw.githubusercontent.com/VaporousCreeper/BetterDiscord/master/Themes/GGO_Kirito/core.css')
  
/*
Theme Owned and Made by VaporousCreeper#9514
  
Background Img: https://wpblink.com/sites/default/files/wallpaper/anime/66761/sword-art-online-ii-wallpapers-hd-66761-327252.png 
Transparency2 Module: https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css - By Ruben7173#5048

The 2 items above are not owned by me, They go to there respected owners
As the author of this theme, (VaporousCreeper#9514) has all rights towards this theme, 
  
You are not allowed to redistribute this theme to others and mark as yours. 
You are allowed to edit/add the code you given from (VaporousCreeper#9514) or it has a '.theme.css' at the end of the file name
*/
