//META{"name":"Asia Argento","description":"A Theme with Asia Argento from Highschool DxD","author":"VaporousCreeper","version":"Auto"}*//
@import url(https://vaporouscreeper.github.io/BetterDiscord-ThemesAndPlugins/Themes/Highschool_DXD_Collection/core.css);

:root{
	--background: url('https://raw.githubusercontent.com/VaporousCreeper/BetterDiscord-ThemesAndPlugins/master/Themes/Highschool_DXD_Collection/Backgrounds/881887.png');

	--colour1: rgb(255,191,49);
	--colour1-active: rgba(255,191,49,0.2);

	--colour1-disabled: rgba(255,191,49,0.2);
	--colour1-disabled-border: rgb(255,191,49);

	--colour2: rgba(40,40,40,0.4);
	--colour2-border: rgb(40,40,40);

	--colour3: white;
}